@font-face {
    font-family: Main;
    src: url("/Fonts/InterVariable.woff2") format('woff2');
}

html {
    background: var(--col-bg) !important;
}

body {
    margin: 0;
    background: var(--col-bg) !important;
    min-height: 100vh;
    overflow: hidden;
}



* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    color: var(--col-text);

    --col-bg: white;
    --col-overlay: white;
    --col-text: #111111;
    --col-text-washed: #4b001b;
    --col-text-overlay: white;
    --col-primary: #f03a7a;
    --col-primary-washed: #ffd8e5;
    --col-primary-hover: #ff5b94;
    --col-secondary: #95df15;
    --col-secondary-hover: #8cce1b;
    --col-tertiary: white;
    --col-contrast: #f1eff0;
    --col-disabled: #251F29;
    --col-mask: rgba(0, 0, 0, 0.1);
    --col-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
    --col-shadow-small: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    --col-border: rgb(228, 228, 231);
}

*:not(.overrideFont):not(.overrideFont *), *.enableFont {
    font-family: Main, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* 

DARK THEME
TODO: Finish This Later

@media (prefers-color-scheme: dark) {
    * {
        --col-bg: hsl(306 28% 7%);
        --col-overlay: hsl(306 12% 15%);
        --col-text: #F1ECF3;
        --col-text-washed: #d8d8d8;
        --col-text-overlay: rgb(107 114 128);
        --col-primary: #ff5b94;
        --col-primary-washed: #00a9bc96;
        --col-primary-hover: #ff4787;
        --col-secondary: #BEF264;
        --col-tertiary: hsl(300 7% 25%);
        --col-contrast: hsl(306 28% 22%);
        --col-disabled: #251F29;
        --col-mask: rgba(0, 0, 0, 0.4);
        --col-shadow: none;
        --col-shadow-small: none;
        --col-border: transparent;
        --gradient-pattern-1: linear-gradient(200deg, rgba(213, 213, 213, 0.01) 0%, rgba(213, 213, 213, 0.01) 14.286%,rgba(140, 140, 140, 0.01) 14.286%, rgba(140, 140, 140, 0.01) 28.572%,rgba(52, 52, 52, 0.01) 28.572%, rgba(52, 52, 52, 0.01) 42.858%,rgba(38, 38, 38, 0.01) 42.858%, rgba(38, 38, 38, 0.01) 57.144%,rgba(159, 159, 159, 0.01) 57.144%, rgba(159, 159, 159, 0.01) 71.42999999999999%,rgba(71, 71, 71, 0.01) 71.43%, rgba(71, 71, 71, 0.01) 85.71600000000001%,rgba(88, 88, 88, 0.01) 85.716%, rgba(88, 88, 88, 0.01) 100.002%),linear-gradient(337deg, rgba(25, 25, 25, 0.01) 0%, rgba(25, 25, 25, 0.01) 12.5%,rgba(150, 150, 150, 0.01) 12.5%, rgba(150, 150, 150, 0.01) 25%,rgba(84, 84, 84, 0.01) 25%, rgba(84, 84, 84, 0.01) 37.5%,rgba(85, 85, 85, 0.01) 37.5%, rgba(85, 85, 85, 0.01) 50%,rgba(188, 188, 188, 0.01) 50%, rgba(188, 188, 188, 0.01) 62.5%,rgba(80, 80, 80, 0.01) 62.5%, rgba(80, 80, 80, 0.01) 75%,rgba(73, 73, 73, 0.01) 75%, rgba(73, 73, 73, 0.01) 87.5%,rgba(219, 219, 219, 0.01) 87.5%, rgba(219, 219, 219, 0.01) 100%),linear-gradient(203deg, rgba(233, 233, 233, 0.01) 0%, rgba(233, 233, 233, 0.01) 25%,rgba(114, 114, 114, 0.01) 25%, rgba(114, 114, 114, 0.01) 50%,rgba(164, 164, 164, 0.01) 50%, rgba(164, 164, 164, 0.01) 75%,rgba(228, 228, 228, 0.01) 75%, rgba(228, 228, 228, 0.01) 100%),linear-gradient(317deg, rgba(139, 139, 139, 0.02) 0%, rgba(139, 139, 139, 0.02) 16.667%,rgba(44, 44, 44, 0.02) 16.667%, rgba(44, 44, 44, 0.02) 33.334%,rgba(166, 166, 166, 0.02) 33.334%, rgba(166, 166, 166, 0.02) 50.001000000000005%,rgba(2, 2, 2, 0.02) 50.001%, rgba(2, 2, 2, 0.02) 66.668%,rgba(23, 23, 23, 0.02) 66.668%, rgba(23, 23, 23, 0.02) 83.33500000000001%,rgba(21, 21, 21, 0.02) 83.335%, rgba(21, 21, 21, 0.02) 100.002%),linear-gradient(328deg, rgba(3, 3, 3, 0.03) 0%, rgba(3, 3, 3, 0.03) 12.5%,rgba(116, 116, 116, 0.03) 12.5%, rgba(116, 116, 116, 0.03) 25%,rgba(214, 214, 214, 0.03) 25%, rgba(214, 214, 214, 0.03) 37.5%,rgba(217, 217, 217, 0.03) 37.5%, rgba(217, 217, 217, 0.03) 50%,rgba(68, 68, 68, 0.03) 50%, rgba(68, 68, 68, 0.03) 62.5%,rgba(118, 118, 118, 0.03) 62.5%, rgba(118, 118, 118, 0.03) 75%,rgba(200, 200, 200, 0.03) 75%, rgba(200, 200, 200, 0.03) 87.5%,rgba(198, 198, 198, 0.03) 87.5%, rgba(198, 198, 198, 0.03) 100%),linear-gradient(97deg, rgba(195, 195, 195, 0.03) 0%, rgba(195, 195, 195, 0.03) 16.667%,rgba(177, 177, 177, 0.03) 16.667%, rgba(177, 177, 177, 0.03) 33.334%,rgba(170, 170, 170, 0.03) 33.334%, rgba(170, 170, 170, 0.03) 50.001000000000005%,rgba(158, 158, 158, 0.03) 50.001%, rgba(158, 158, 158, 0.03) 66.668%,rgba(121, 121, 121, 0.03) 66.668%, rgba(121, 121, 121, 0.03) 83.33500000000001%,rgba(146, 146, 146, 0.03) 83.335%, rgba(146, 146, 146, 0.03) 100.002%),linear-gradient(268deg, rgba(103, 103, 103, 0.03) 0%, rgba(103, 103, 103, 0.03) 25%,rgba(112, 112, 112, 0.03) 25%, rgba(112, 112, 112, 0.03) 50%,rgba(4, 4, 4, 0.03) 50%, rgba(4, 4, 4, 0.03) 75%,rgba(227, 227, 227, 0.03) 75%, rgba(227, 227, 227, 0.03) 100%),linear-gradient(90deg, hsl(98,0%,0%),hsl(98,0%,0%));
    }
} */

.secondaryText {
    opacity: 0.7;
    font-weight: 400;
}

.barSeperator {
    margin-left: auto;
}

.formDialog {
    width: 25rem;
}

.formDialog .p-inputtext {
    width: 100%;
    height: 3rem;
}

.formSplit {
    display: flex;
    height: 3rem;
    gap: 0.5rem;
}

button {
    color: var(--col-bg);
    font-weight: 600;
}

.leftButton svg {
    margin-right: 0.5rem;
    stroke: var(--col-bg);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 0.8rem;
}

.capitalizeFirstLetter {
    display: inline;
    text-transform: capitalize;
}
