.bottomBar {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
}

.bottomBar .p-button {
    padding: 1rem 2rem;
    border-radius: 0px;
}

.bottomBar .p-selectbutton {
    width: 100%;
    display: flex;
    justify-content: stretch;
}

.bottomBar .barItem {
    width: 100%;
}

.bottomBar .p-button {
    height: 5rem;
    width: 100%;
}