

.codeEditorContainer .p-sidebar-header {
    display: none;
}

.codeEditorContainer .p-sidebar-content {
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100vh;
}


.codeEditorScroller {
    width: 100%;
    min-height: 100vh;
    margin-top: 1rem;
}

.codeEditor {
    font-family: Code;
    width: 90%;
    max-width: 90%;
    min-height: 50vh;
    margin: auto;
    background-color: var(--col-tertiary);
    border-radius: 5px;
    border: 2px solid var(--col-border);
    box-shadow: var(--col-shadow);
    font-size: 0.8rem;
    overflow-x: auto !important;
}

.codeEditor > * {
    width: 350vw !important;
}

.editorRun {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 1rem;
}

.editorRunMini {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
    padding: 0;
    margin-right: 5%;
    float: right;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.editorScanMini {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    padding: 0;
    margin-left: 5%;
    float:left;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: white;
    border: none;
}

.editorScanMini * {
    color: var(--col-primary);
}

.editorRun *, .editorRunMini * {
    color: white;
}

.codeEditorContainer .xterm {
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    border-radius: 5px;
    overflow: hidden;
    padding: 1rem;
    background-color: var(--col-tertiary) !important;
    border: 2px solid var(--col-border);
    box-shadow: var(--col-shadow);
}

.codeEditorContainer .xterm * {
    font-family: Code;
}

.codeEditorContainer .xterm-viewport {
    background-color: var(--col-tertiary) !important;
}

.codeEditorContainer .guiOutputWindow {
    display: none;
}

.codeEditorContainer .guiOutputWindow.enabledOutput {
    display: flex;
    margin: auto;
    margin-top: 1rem;
    width: 90%;
    border-radius: 5px;
    background-color: var(--col-tertiary);
    border: 2px solid var(--col-border);
    box-shadow: var(--col-shadow);
}

.xterm-fg-232 {
    color: var(--col-text) !important;
}

.token {
    background-color: transparent !important;
}