
@font-face {
    font-family: Code;
    src: url("/Fonts/JetBrains.woff2") format('woff2');
}

.codeEditorContainer .p-sidebar-header {
    position: fixed;
    width: 100%;
    height: 6rem;
    z-index: 11;
}

.codeEditorContainer .p-sidebar-content {
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100vh;
}


.codeEditorScroller {
    width: 100%;
    min-height: 100vh;
}

.codeEditor {
    font-family: Code;
    width: 90%;
    min-height: 50vh;
    margin: auto;
    background-color: var(--col-tertiary);
    border-radius: 5px;
    border: 2px solid var(--col-border);
    box-shadow: var(--col-shadow);
    font-size: 1rem;
}

.codeEditorContainer .editorRun {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 1rem;
}

.codeEditorContainer .editorRun * {
    color: white;
}

.codeEditorContainer .xterm {
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    border-radius: 5px;
    overflow: hidden;
    padding: 1rem;
    background-color: var(--col-tertiary) !important;
    border: 2px solid var(--col-border);
    box-shadow: var(--col-shadow);
}

.codeEditorContainer .xterm * {
    font-family: Code;
}

.codeEditorContainer .xterm-viewport {
    background-color: var(--col-tertiary) !important;
}