.lessonsPage {
    width: 100%;
    max-height: calc(100vh - 11.75rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    overflow-y: auto;
}

.lessonCard {
    width: 90%;
    padding: 1rem;
    min-height: 15rem;
    background-color: var(--col-tertiary);
    border-radius: 10px;
    border: 2px solid var(--col-border);
    box-shadow: var(--col-shadow);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.lessonCard .languageIcon {
    position: absolute;
    bottom: 2.5rem;
    right: 1rem;
}

.lessonCard .p-progressbar {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 0px;
}

.lessonCard .lessonDescription {
    margin: 0;
    margin-top: 0.5rem;
    color: var(--col-text-washed);
}

.segmentPickerContainer .p-sidebar-content, .segmentContainer .p-sidebar-content {
    padding: 0;
}

.segmentPickerContainer .p-sidebar-header, .segmentContainer .p-sidebar-header {
    display: none;
}

.segmentPickerContainer .lessonSegment {
    width: 90%;
    height: 6rem;
    margin: auto;
    margin-top: 1rem;
    background-color: var(--col-tertiary);
    border: 2px solid var(--col-border);
    box-shadow: var(--col-shadow);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.segmentPickerContainer .lessonSegment p {
    text-wrap: nowrap;
    overflow: hidden;
    max-width: 80%;
    display: inline-block;
    margin: 0;
    background-image: linear-gradient(90deg,#000000 0%, #000000 80%,rgba(0,0,0,0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.segmentContainer .segmentViewer {
    padding: 1rem;
    font-family: Fancy;
}

.segmentContainer .segmentViewer code {
    font-family: Code !important;
}

.segmentContainer .runnableCodeContainer div {
    background-color: var(--col-contrast) !important;
    padding: 0.5rem !important;
    border-radius: 3px !important;
}

.runnableCodeContainer .codeRunButton * {
    color: white;
}

.runnableCodeContainer .codeRunButton {
    height: 2rem;
    padding: 0.8rem;
}

.segmentContainer .segmentViewer h2 {
    color: var(--col-primary);
}

.segmentContainer .segmentViewer p {
    color: var(--col-text-washed);
}