.lessonsPage {
    width: 100%;
    max-height: calc(100vh - 11.75rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    overflow-y: auto;
}

.lessonCard {
    width: 90%;
    padding: 1rem;
    min-height: 15rem;
    background-color: var(--col-tertiary);
    border-radius: 10px;
    border: 2px solid var(--col-border);
    box-shadow: var(--col-shadow);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.lessonCard .languageIcon {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}


*[dir="rtl"]  .lessonCard .languageIcon {
    position: absolute;
    bottom: 1rem;
    right: unset;
    left: 1rem;
}

.lessonCard .p-progressbar {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 0px;
}

.lessonCard .lessonDescription {
    margin: 0;
    margin-top: 0.5rem;
    color: var(--col-text-washed);
}

.segmentPickerContainer .p-sidebar-content, .segmentContainer .p-sidebar-content {
    padding: 0;
}

.segmentPickerContainer .p-sidebar-header, .segmentContainer .p-sidebar-header {
    display: none;
}

.segmentPickerContainer .lessonShareButton {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 1rem;
    aspect-ratio: 1;
    padding: 0.5rem;
}

.segmentPickerContainer .lessonSegment {
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
    min-height: 8rem;
    background-color: var(--col-tertiary);
    border-radius: 10px;
    border: 2px solid var(--col-border);
    box-shadow: var(--col-shadow);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.segmentPickerContainer .lessonSegment h2, .segmentPickerContainer .lessonSegment p {
    width: calc(100% - 7.5rem);
}

.segmentContainer .segmentViewer {
    padding: 1rem;
    font-family: Fancy;
}

.segmentContainer .segmentViewer code {
    font-family: Code !important;
}

.segmentContainer .runnableCodeContainer div {
    background-color: var(--col-contrast) !important;
    padding: 0.5rem !important;
    border-radius: 3px !important;
    text-shadow: none !important;
}

.runnableCodeContainer .codeRunButton * {
    color: white;
}

.runnableCodeContainer .codeRunButton {
    height: 2rem;
    padding: 0.8rem;
}

.segmentContainer .segmentViewer h2 {
    color: var(--col-primary);
}

.segmentContainer .segmentViewer p {
    color: var(--col-text-washed);
}