.projectAssetEditorContainer .p-sidebar-header {
    display: none;
}

.projectAssetEditorContainer .p-sidebar-content {
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100vh;
}   

.projectAssetEditor {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    gap: 1rem;
}

.projectAssetEditor .projectProperty  {
    width: 90%;
}

.projectAssetEditor label {
    margin-left: 5%;
    margin-right: 5%;
    align-self: flex-start;
}

.projectAssetEditor .thumbnailCarousel {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.projectAssetEditor .thumbnailCarousel .p-carousel-indicator button {
    border-radius: 3px;
}

.projectAssetEditor .thumbnailCarousel .p-carousel-container {
    border-radius: 7px;
    overflow: hidden;
}

.projectAssetEditor .thumbnailCarousel .p-carousel-prev, .projectAssetEditor .thumbnailCarousel .p-carousel-next {
    display: none;
}

.projectAssetEditor .thumbnailCarouselTemplate {
    width: 100%;
    height: 14rem;
    box-shadow: var(--col-shadow);
    background-color: var(--col-tertiary);
    background-position: center;
    background-size: cover;
}

.projectAssetEditor .iconModifyContainer {
    display: flex;
    width: 90%;
    gap: 0.5rem;
}

.projectAssetEditor .iconModifyContainer p {
    height: 100%;
    max-width: calc(100% - 10rem);
}

.projectAssetEditor .iconModifyContainer .editIconButton {
    width: 3rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}