.projectPageContainer .p-sidebar-header {
    display: none;
}

.projectPageContainer .p-sidebar-content {
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100vh;
}   

.projectPage {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    gap: 1rem;
}

.projectPage .projectAction {
    width: 90%;
}

.projectPage .projectAction * {
    color: white;
}

.projectPage .projectView {
    position: relative;
    top: -40px;
    width: 90%;
    color: white;
}

.externalProjectCard {
    width: 90% !important;
    min-height: 18rem;
    height: min(fit-content, 18rem);
    overflow: hidden;
    background-color: var(--col-tertiary);
    border-radius: 10px;
    border: 2px solid var(--col-border);
    box-shadow: var(--col-shadow);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    animation: fadeIn 0.5s ease 0s 1 normal forwards;
}

.externalProjectCard .projectThumbnail {
    width: 100%;
    height: 14rem;
    background-color: var(--col-tertiary);
    border-radius: 7px;
    border: 2px solid var(--col-border);
    box-shadow: var(--col-shadow);
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover !important;
    background-position: center !important;
    position: relative;
}

.externalProjectCard .projectThumbnail img {
    width: auto;
    height: 50%;
    object-position: center;
    object-fit: cover;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.582));
}

.externalProjectCard .projectAssetEditButton {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--col-overlay-transparent);
    border: none;
}

.externalProjectCard .projectShareButton {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    border-radius: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--col-overlay-transparent);
    border: none;
}

*[dir="rtl"]  .externalProjectCard .projectAssetEditButton {
    right: unset;
    left: 1rem;
}


*[dir="rtl"]  .externalProjectCard .projectShareButton {
    right: 1rem;
    left: unset;
}


.externalProjectCard p {
    margin: 0.2rem;
}