.projectIcon {
    width: 6rem;
    height: 6rem;
    border-radius: 22px;
    background-color: var(--col-tertiary);
    border: 2px solid var(--col-border);
    box-shadow: var(--col-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 500%;
    background-position: center;
}

.projectIcon img  {
    width: 80%;
    height: 80%;
}