.scannerContainer {
    background-color: black;
    border: none;
    position: relative;
    overflow: hidden;
}

.scannerContainer .p-sidebar-close-icon {
    stroke: white;
}

.scannerContainer .p-sidebar-content {
    padding: 0;
}

.scannerContainer * {
    color: white;
}

.scannerContainer .p-sidebar-header {
    display: none;
}

.scannerContainer .camera {
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translate(-50%, 0);
}

.scannerContainer .scanButton {
    position: absolute;
    z-index: 11;
    width: 5rem;
    height: 5rem;
    left: calc(50% - 2.5rem);
    right: calc(50% - 2.5rem);
    bottom: 7vh;
    border-radius: 360px;
    background-color: white;
    border: none;
    outline: 5px solid var(--col-primary);
    outline-offset: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.scannerContainer .scanButton svg {
    width: 60%;
    height: 60%;
}

.scannerContainer .scanButton svg, .scannerContainer .scanButton svg * {
    color: var(--col-primary);
    stroke: var(--col-primary) !important;
}

.scannerOverlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 5;

    mask-image: url("/Images/ScannerOverlayMask.png"), linear-gradient(#000 0 0);
    mask-mode: alpha;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-composite: exclude;
    mask-size: contain;

    -webkit-mask-image: url("/Images/ScannerOverlayMask.png"), linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
}

.scannerContainer .scannerTarget {
    position: absolute;
    width: 85.75vw;
    height: calc(85.75vw * 1.411);
    top: calc(50% - calc(85.75vw * 0.7055));
    right: calc(50% - 42.875vw);
}