
.settingsButton {
    position: fixed;
    right: 0.75rem;
    top: 0.75rem;
    background-color: transparent;
    border: none;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--col-shadow);
    z-index: 9;
}

.settingsButton svg {
    width: 50%;
    height: 50%;
}

.settingsButton * {
    color: var(--col-text);
}

*[dir="rtl"] .settingsButton { 
    right: auto;
    left: 0.75rem;
}
